<!-- File Name: footer.ejs 
Author's Name: Jashandeep Kaur
Website Name: jashandeepkaur.azurewebsites.net
File Description: this file contained the shared footer for all the pages of site.
 -->
<footer class="page-footer">
    &copy;Portfolio - Jashandeep Kaur
</footer>
</body>
</html>