<!-- File Name: header.ejs 
Author's Name: Jashandeep Kaur
Website Name: jashandeepkaur.azurewebsites.net
File Description: This file contain the shared header coding for all views.
 -->
<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <link rel='stylesheet' href='/stylesheets/materialize.css' />
    <link rel='stylesheet' href='/stylesheets/materialize.min.css' />
    <nav>
      <!-- navbar styling using materialize css template-->
      <div class="nav-wrapper">
          <a href="/" class="brand-logo right">Jashandeep Kaur</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="/about">About</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/services">Services</a></li>
           <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </nav>
  </head>
  <body>