<!-- File Name: contact.ejs 
Author's Name: Jashandeep Kaur
Website Name: jashandeepkaur.azurewebsites.net
File Description: It is form from where someone can send me message or contact me regarding anything.
 -->

<!-- header call from partials-->
<% include partials/header %> 
  <h1>
    <%= title %>
  </h1>

  <!-- form to get information about the person want to contact and then post is to email me -->
  <form method="POST" action="/contact">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="name" name="name">
      <label class="mdl-textfield__label" for="name">Name</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="email" id="email" name="email">
        <label class="mdl-textfield__label" for="email">Email Address</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="tel" id="phone" name="phone">
      <label class="mdl-textfield__label" for="phone">Phone Number</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="message" name="message">
      <label class="mdl-textfield__label" for="message">Message for me.</label>
    </div>
    <br>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
        Submit
    </button>
</form>

<!-- footer call from partials-->
<% include partials/footer %>