<!-- File Name: Index.ejs 
Author's Name: Jashandeep Kaur
Website Name: jashandeepkaur.azurewebsites.net
File Description: This is the home page view of the site
 -->

<!-- calling html code of header section of the page from header.js file from partial -->
<% include partials/header %> 

  <style scoped>
    h1{
      text-align: center;
    }
  </style>

  <h1><%= title %></h1>

  <!-- This is the main section styled as a container containing profile information -->
  <div class="row container valign-wrapper">
    <div class="col-s4">
      <!-- display image from image folder -->
      <img src="/images/profile.jpg" alt="profileImage" height="260" />
    </div>
    <div class="col-s8">
      <p class="card-panel grey lighten 4">
        Hi, this is my personal portfolio website created using NodeJS and expressJS framework and implementing the ejs templating engine.
        This is basically made for assignment in advanced web course - COMP2068.
      </p>
    </div>
  </div>

<!-- calling footer code from partials -->
<% include partials/footer %>
