<% include partials/header %> 
<style scoped>
    h1 { text-align: center; 
    }
</style>
  <h1><%= title %></h1>
  <table class="striped highlight">
      <thead class="red lighten-3">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Travel League</td>
          <td>This project is based on the website for travel agency representing diffrent tourist attractions of different locations all over the world. It is designed to implement ASP.NET Web Frameworks MVC Concepts learned in course of Enterprise Computing.</td>
          <td>https://travelleagueassignment.azurewebsites.net</td>
        </tr>
        <tr>
          <td>Alan</td>
          <td>Jellybean</td>
          <td>$3.76</td>
        </tr>
        <tr>
          <td>Jonathan</td>
          <td>Lollipop</td>
          <td>$7.00</td>
        </tr>
      </tbody>
  </table>

<% include partials/footer %>