<% include partials/header %> 
  <h1><%= title %></h1>
  <ul class="collection">
    <li class="collection-item">Web Design</li>
    <li class="collection-item">System Analysis</li>
    <li class="collection-item">Database Developing</li>
    <li class="collection-item">I.T. Help & Support</li>
  </ul>
<% include partials/footer %>